.user-page_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #F5F5F5;
  .user-page_content {
    width: 100%;
    max-width: 1440px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 24px;
  }
}

.user_container {
  padding: 50px 0 50px 0;

  @media (min-width: 0px) {
    font-size: 5px;
  }
  @media (min-width: 300px) {
    font-size: 10px;
  }
  @media (min-width: 1000px) {
    font-size: 15px;
  }


  .whole_container {
    justify-content: center;


    .main-side_container {
      background-color: #FFFFFF !important;
      min-height: 100%;

      .address_container {

        .header {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #BFBFBF;
          justify-content: space-between;
          padding: 1rem 0 1rem 0;

          .h-text {
            justify-content: start;
            padding-left: 25px;
          }

          .button {
            justify-content: center;

            .button.button.primary {
              display: inline-flex;
              @media (min-width: 0px) {
                padding: 1px;
                margin: 0;
              }
              @media (min-width: 500px) {
                padding: 5px 10px;
              }
              @media (min-width: 1000px) {
                padding: 10px 20px;
              }
              @media (min-width: 1200px) {
                padding: 10px 20px;
              }

              .text {
                @media (min-width: 0) {
                  font-size: 5px;
                  gap: 0 !important;
                  line-height: 1;
                }
                @media (min-width: 300px) {
                  font-size: 10px;
                  gap: 0 !important;
                  line-height: 1;
                }
                @media (min-width: 1200px) {
                  font-size: 15px;
                }
              }
            }
          }

        }

        p.clickable {
          cursor: pointer;
          width: fit-content;
          color: #1E46A2;
          &:hover {
            color: #FB3C00;
          }
        }

        .children {
          height: 100%;

          .child {
            border-bottom: 1px solid #BFBFBF;

            .contents {
              padding: 25px;
            }
          }
        }
      }
    }
  }
}
